{% extends "base.html" %}
{% block content %}
<h2 class="mt-4">Digite as informações do servidor:</h2>
<form method="POST">
    <div class="form-group">
        <label for="server_ip">IP do Servidor:</label>
        <input type="text" class="form-control" id="server_ip" name="server_ip" required>
    </div>
    <div class="form-group">
        <label for="port">Porta SSH:</label>
        <input type="number" class="form-control" id="port" name="port" required>
    </div>
    <div class="form-group">
        <label for="username">Usuário:</label>
        <input type="text" class="form-control" id="username" name="username" required>
    </div>
    <div class="form-group">
        <label for="password">Senha:</label>
        <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <div class="form-group">
        <label for="root_username">Usuário Root:</label>
        <input type="text" class="form-control" id="root_username" name="root_username" required>
    </div>
    <div class="form-group">
        <label for="root_password">Senha Root:</label>
        <input type="password" class="form-control" id="root_password" name="root_password" required>
    </div>
    <div class="form-group">
        <label for="plan">Plano:</label>
        <select class="form-control" id="plan" name="plan" required>
            <option value="plan1">Plano 0 a 1 Mil Clientes (Armazenamento: 100G, Memória: 3G)</option>
            <option value="plan2">Plano 1001 a 3 Mil Clientes (Armazenamento: 200G, Memória: 5G)</option>
            <option value="plan2">Plano 3001 a 4 Mil Clientes (Armazenamento: 300G, Memória: 8G)</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
{% endblock %}